[Unit]
Description=Run reddit bot every 20 minutes

[Timer]
OnBootSec=20min
OnUnitActiveSec=20min
Persistent=true
Unit=voron_nameplate_bot.service

[Install]
WantedBy=timers.target

